$columns: (
    1:8.33%, 
    2:16.66%, 
    3:25%, 
    4:33.33%, 
    5:41.66%, 
    6:50%, 
    7:58.33%,
    8:66.66%, 
    9:75%, 
    10:83.33%, 
    11:91.66%, 
    12:100% 
);

@each $key, $value in $columns {
    .col-sm-#{$key} {
        width: $value;
        padding-left: 15px;
        padding-right: 15px;
    }
};
// @media(max-width: 768px){
//     .container{
//         width: 100%;
//     }
// }
@media(min-width: 768px){
    .container{
        width: 740px;
    }
    @each $key, $value in $columns {
        .col-md-#{$key} {
            width: $value;
            padding-left: 15px;
            padding-right: 15px;
        }
    };
}
@media(min-width: 992px){
    .container{
        width: 960px;
    }
}
@media(min-width: 1200){
    .container{
        width: 1170px;
    }
    @each $key, $value in $columns {
        .col-lg-#{$key} {
            width: $value;
            padding-left: 15px;
            padding-right: 15px;
        }
    };
}