@for $i from 1 through 10 {
    .pd-top-#{$i}{
        padding-top: $i * 10px;
    }
}
@for $i from 1 through 10 {
    .pd-bottom-#{$i}{
        padding-bottom: $i * 10px;
    }
}
@for $i from 1 through 10 {
    .pd-left-#{$i}{
        padding-left: $i * 10px;
    }
}
@for $i from 1 through 10 {
    .pd-right-#{$i}{
        padding-right: $i * 10px;
    }
}