.progress-bar{
    padding: 0px 4px;
    height: 10px;
    border-radius: 10px;
    background-color: #dddddd;
    .container-bar{
        width: 100%;
        height: 10px;
        position: relative;

        .filled-bar{
            position: absolute;
            height: 4px;
            top: 3px;
            background-color: $link-color;
            border-radius: 10px;
        }
        
    }
    
}

.btn {
    display: inline-block;
    border: 1px solid $link-color;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: $link-color;
    color: #ffffff;
}

$text-pos: (left: left, center: center, right: right);
@each $key, $value in $position {
    .text-#{$key} {
        text-align: $value;
    }
}