<footer class="site-footer" id="site-footer">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-sm-3 text-center">
                <a class="social-link" href="{{ site.facebook }}" target="_blank" rel="noopener noreferrer">
                    {%include facebook-icon.html%}
                </a>
            </div>
            <div class="col-sm-3 text-center">
                <a class="social-link" href="{{ site.instagram }}" target="_blank" rel="noopener noreferrer">
                    {%include instagram-icon.html%}
                </a>
            </div>
            <div class="col-sm-3 text-center">
                <a class="social-link" href="{{ site.twitter }}" target="_blank" rel="noopener noreferrer">
                    {%include twitter-icon.html%}
                </a>
            </div>
            <div class="col-sm-3 text-center">
                <a class="social-link" href="{{ site.youtube }}" target="_blank" rel="noopener noreferrer">
                    {%include youtube-icon.html%}
                </a>
            </div>
            <div class="col-sm-12 text-center">
                <p>&copy;2017-2021 Nishant Shaligram. </p>
            </div>
        </div>
    </div>
</footer>