/*-----------------------------
    Theme data
------------------------------*/
$font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Teko', sans-serif;

$link-color: rgb(255, 0, 76);
$link-hover-light: rgba(0, 0, 0,0.5);
$link-hover-dark: rgba(255, 255, 255,0.5);
$bg-light: #ffffff;
$text-light: #0e0e0e;
$bg-dark: #000000;
$text-dark: #ffffff;
/*---------------------------
    Normalize.css
-----------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $font-family;
}
a{
    font-size: 1em;
    font-weight: inherit;
    color: inherit;
    line-height: 1rem;
    text-decoration: none;
}
p{
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: inherit;
    margin-bottom: 24px;
    a{
        color: #ff004c;
    }
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.2;
    color: inherit;
    padding-top: 15px;
    margin-bottom: 26px;
}
h1 {
    font-size: 36px;
    font-weight: 700;
}
h2 {
    font-size: 32px;
    font-weight: 700;
}
h3 {
    font-size: 26px;
    font-weight: 700;
}
h4 {
    font-size: 21px;
    font-weight: 700;
}
h5 {
    font-size: 18px;
    font-weight: 700;
}
h6 {
    font-size: 14px;
    font-weight: 700;
}
ul,
ol {
    padding-left: 24px;
    margin-bottom: 20px;
    li {
        margin-bottom: 8px;
    }
    a{
        color: #ff004c;
    }
}

/*----------------------------
    Global CSS
----------------------------*/
html,
body {
    background-color: $bg-light;
    color: $text-light;
    border-color: $text-light;
    transition: all 0.4s ease-in;
    a:hover,
    a:focus {
        color: $link-hover-light;
    }
    .hamburger {
        .bar {
            background-color: $text-light;
        }
    }
    .course-link {
        background-color: $bg-dark;
        color: $text-dark;
    }
    .read-more {
        background-color: $bg-dark;
        color: $text-dark;
    }
    &.bg-dark {
        background-color: $bg-dark;
        color: $text-dark;
        border-color: $text-dark;
        transition: all 0.4s ease-in;
        a:hover,
        a:focus {
            color: $link-hover-dark;
        }
        .hamburger {
            .bar {
                background-color: $text-dark;
            }
        }
        .course-link {
            background-color: $bg-light;
            color: $text-light;
        }
        .read-more {
            background-color: $bg-light;
            color: $text-light;
        }
    }
}
/*-----------------------------------
    Site Header
------------------------------------*/
body{
    .site-header {
        width: 100%;
        .container {
            min-height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
            padding-bottom: 10px;
            .site-branding{
                max-width: 250px;
                .logo {
                    width: 100%;
                    height: auto;
                }
                .site-branding-text{
                    a.site-link {
                        font-family: $logo-font-family;
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 1;
                        color: inherit;
                        text-transform: uppercase;
                    }
                    p.site-description {
                        font-size: 12px;
                        font-weight: 400;
                        color: #ffffff;
                    }
                }
            }
            .header-widgets {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                .theme-mode {
                    margin-right: 20px;
                }
            }
        }    
    }
    &.nav-open {
        overflow: hidden;
        .site-header {
            position: fixed;
            z-index: 99999;
            box-shadow: none;
        }
    }
}
/*----------------------------
    Site Navigation
-----------------------------*/
.navigation-top {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: 9999;
    .container {
        margin-top: 250px;
    }
    .main-navigation {
        display: block;
        margin: 0 auto; 
        #top-menu {
            list-style-type: none;
            list-style-position: inside;
            padding-left: 0;
            margin-bottom: 0;
            color: rgba(255, 255, 255,0.5);
            text-align: center;
            li {
                margin-right: 5px;
                margin-left: 5px;
                margin-bottom: 10px;
                a {
                    display: block;
                    padding: 8px 10px;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 1;
                    color: $link-color;
                    text-transform: uppercase;
                }
            }
        }
    }
    &.show {
        display: block;
    }
}
/*----------------------------
    Hamburger
-----------------------------*/
.hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    .bar {
        display: block;
        width: calc(100% - 10px);
        height: 2px;
        position: absolute;
        transform: none;
        &:first-child {
            top: 18px;
            animation: reverse-hamburger-1 0.4s;
        }
        &:last-child {
            top: 32px;
            animation: reverse-hamburger-2 0.4s;
        }
    }
    &.open {
        .bar {
            top: 25px;
            transition: all 0.4s ease-in;
            &:first-child {
                transform: rotate(45deg);
                animation: hamburger-1 0.4s;
            }
            &:last-child {
                transform: rotate(-45deg);
                animation: hamburger-2 0.4s;
            }
        }
    }
}
@keyframes hamburger-1 {
    0%{
        top: 18px;
        transform: rotate(0deg);
    }
    50%{
        top: 25px;
        transform: rotate(0deg);
    }
    100% {
        top: 25px;
        transform: rotate(45deg);
    }
}
@keyframes hamburger-2 {
    0%{
        top: 32px;
        transform: rotate(0deg);
    }
    50%{
        top: 25px;
        transform: rotate(0deg);
    }
    100% {
        top: 25px;
        transform: rotate(-45deg);
    }
}
@keyframes reverse-hamburger-1 {
    0%{
        top: 25px;
        transform: rotate(45deg);
    }
    50%{
        top: 25px;
        transform: rotate(0deg);
    }
    100% {
        top: 18px;
        transform: rotate(0deg);
    }
}
@keyframes reverse-hamburger-2 {
    0%{
        top: 25px;
        transform: rotate(-45deg);
    }
    50%{
        top: 25px;
        transform: rotate(0deg);
    }
    100% {
        top: 32px;
        transform: rotate(0deg);
    }
}
/*-----------------------------
    Container Wrap
------------------------------*/
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 
.row {
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}
@media(max-width: 768px){
    .container{
        width: 100%;
    }
}
@media(min-width: 768px){
    .container{
        width: 740px;
    }
}
@media(min-width: 992px){
    .container{
        width: 960px;
    }
}
@media(min-width: 1200){
    .container{
        width: 1170px;
    }
}
/*-----------------------------
    Theme mode Switch
------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 6px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
}
  
input:checked + .slider {
background-color: #ff004c;
}

input:focus + .slider {
box-shadow: 0 0 1px #ff004c;
}
  
input:checked + .slider:before {
-webkit-transform: translateX(28px);
-ms-transform: translateX(28px);
transform: translateX(28px);
}
.slider.round {
    border-radius: 34px;
    &:before {
        border-radius: 50%;
    }
}
/*------------------------------
    Layout
-------------------------------*/
.site-content {
    padding-top: 50px;
    padding-bottom: 50px;
    .content-area{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .widget-area{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media(min-width:992px){
    body{
        &.blog,
        &.post {
            .content-area{
                width: 65%;
                padding-left: 15px;
                padding-right: 15px;
            }
            .widget-area{
                width: 35%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
/*----------------------------
    Post
-----------------------------*/
ul.post-list {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
    &> li {
        width: 100%;
        .post {
            display: block;
            margin-bottom: 50px;
            border-radius: 10px;
            position: relative;
            &.post:hover,
            &.post:focus {
                box-shadow: 0px 3px 6px rgba(255, 0, 76, 0.2);
                transition: box-shadow 0.4s ease-in;
            }
            .post-thumbnail {
                width: 100%;
                height: auto;
            }
            .post-wrapper {
                padding: 20px 24px;
                .post-title {
                    padding-top: 0;
                    display: block;
                    font-size: 21px;
                    line-height: 1.2;
                    font-weight: 700;
                    color: rgb(255, 0, 76);
                    &:hover,
                    &:focus {
                        color: #747474;
                    }
                }
                ul.post-meta {
                    list-style: none;
                    padding-left: 0px;
                    margin-bottom: 20px;
                    &> li {
                        margin-bottom: 10px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #747474;
                        vertical-align: middle;
                    }
                }
                .post-content {
                    margin-bottom: 20px;
                    p {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 1.5;
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
                .read-more {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 160px;
                    height: 40px;
                    padding: 8px 12px 8px 18px;
                    border: none;
                    border-radius: 40px;
                    font-size: 14px;
                    line-height: 1;
                    text-align: center;
                    text-transform: uppercase;
                    position: absolute;
                    bottom: -20px;
                    left: 50%;
                    transform: translateX(-50%);
                    &:hover,
                    &:focus {
                        background: linear-gradient(180deg, #ff0000 70%, #ff8100);
                    }
                }
            }
        }
    }
}

@media(min-width: 768px){
    ul.post-list {
        display: flex;
        flex-wrap: wrap;
        &> li {
            width: 50%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
/*----------------------------
    Widget Area
-----------------------------*/
.widget {
    margin-bottom: 20px;
    .widget-title {
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        li {
            padding: 10px 0px 10px 0px;
            border-bottom: 1px solid;
            border-color: inherit;
            a{
                font-size: 12px;
                font-weight: 400;
                color: inherit;
                &:hover,
                &:focus {
                    color: rgb(255, 0, 76);
                }
            }
        }
    }
}
/*----------------------------------
    Course Card
----------------------------------*/
.course-card {
    padding: 30px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    position: relative;
    &:hover,
    &:focus {
        box-shadow: 0px 3px 6px rgba(255, 0, 76, 0.2);
        transition: box-shadow 0.4s ease-in;
    }
    .course-thumbnail{
        display: block;
        width: 100px;
        height: auto;
        max-height: 100px;
        margin: 0 auto 20px auto;
    }
    .course-title{
        margin-bottom: 20px;
        font-size: 32px;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
    .course-description {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.2;
        text-align: center;
        color: #747474;
    }
    ul.course-points {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0;
        & > li {
            margin-bottom: 20px;
            .point-wrapper {
                display: flex;
                &:before,
                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
                .point-icon {
                    margin-right: 5px;
                    & > svg {
                        width: 30px;
                        height: 30px ;
                        fill: #1d43ff;
                    }
                }
                .title {
                    width: 100px;
                }
                .badge-spacer {
                    width: calc(100% - 165px);
                    padding: 0px 8px;
                    & > hr{
                        display: inline-block;
                        width: 100%;
                        border-color: #747474;
                        vertical-align: middle;
                    }
                }
                .badge {
                    width: 30px;
                    height: 30px;
                    padding: 8px 0px;
                    border-radius: 30px;
                    text-align: center;
                    color: #ffffff;  
                    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
                    vertical-align: middle;
                    float: right;
                    &.badge-red {
                        background: linear-gradient(180deg, #ff3030 70%, #d60031);
                    }
                    &.badge-blue {
                        background: linear-gradient(180deg, #30a9ff 70%, #005b7d);
                    }
                    &.badge-green {
                        background: linear-gradient(180deg, #30ff53 70%, #00ad7d);
                    }
                }
            }
        }
    }
    .course-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 40px;
        padding: 8px 12px 8px 18px;
        border: none;
        border-radius: 40px;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        &:hover,
        &:focus {
            background: #30a9ff;
        }
        svg {
            margin-left: 2px;
            fill: #ffffff;
            vertical-align: middle;
        }
    }
}