$font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Teko', sans-serif;

// $link-color: rgb(255, 0, 76) ;
$link-color:  rgb(0, 127, 202);
$link-hover-color: rgb(0, 34, 93);
$btn-background-color: linear-gradient(45deg, #0d79ff, #3a14d1);
$btn-hover-background-color: #ffc137;
$bg-light: #ffffff;
$text-light: #0e0e0e;
$bg-dark: #000000;
$text-dark: #ffffff;
