$font-family: 'Montserrat', sans-serif;
$logo-font-family: 'Teko', sans-serif;

// $link-color: rgb(255, 0, 76) ;
$link-color:  rgb(12, 231, 48);
$link-hover-color: rgba(12, 200, 48,0.8);
$bg-light: #ffffff;
$text-light: #0e0e0e;
$bg-dark: #000000;
$text-dark: #ffffff;