---
layout: default
---
<p>{{ page.date | date_to_string }}</p>
<div class="chapter-wrapper">
    <div class="chapter-video">
        {% if page.video_url == "" %}
        <img src="{{site.url }}/{{ page.thumbnail }}" alt="{{ page.title }}">
        {% else %}
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.video_url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        {% endif %}
    </div>
    <div class="chapter-navigation">
        <ul>
            {% assign course = page.collection %}
            {% assign chapter_no = 1 %}
            {% for chapter in  site.data[course] %}
            <li>
                <a {% if page.title == chapter.name %}class="active"{% endif %} href="{{ chapter.link }}">Chapter-{{ chapter_no }} {{ chapter.name }}</a>
            </li>
            {% assign chapter_no = chapter_no + 1 %}
            {% endfor %}
        </ul>
    </div>
</div>
<h1>{{ page.title }}</h1>
{{ content }}