---
layout: default
---
{% assign course = page.short_name %}
<h1>{{ course }}</h1>
{% if site[course] != "" %}
<ul class="post-list">
    {% for course in site[course] %}
    <li>
        <div class="post">
        <img class="post-thumbnail" src="../{{ course.thumbnail }}">
        <div class="post-wrapper">
            <a href="{{ course.url }}" class="post-title">{{ course.title }}</a>
            <ul class="post-meta">
                <li><span>Date:</span><span>{{ course.date | date_to_string }}</span></li>
                <li><span>By: </span><span>{{ course.author }}</span></li>
            </ul>
            <div class="post-content">
                <p>{{ course.excerpt }}</p>
            </div>
            <a href="{{ course.url }}" class="btn btn-primary read-more">Read More</a>
        </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2>Coming Soon...</h2>
{% endif %}