<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&Teko:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include navigation.html %}
    <div class="site-content-contain">
      <div  id="content" class="site-content">
        <div class="wrap">
          <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
              {{ content }}
            </main>
          </div>
          <div id="secondary" class="widget-area">

          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/theme.js"></script>
  </body>
</html>